apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-agent-config
  namespace: smc-trading
data:
  vault-agent.hcl: |
    pid_file = "/tmp/pidfile"
    
    vault {
      address = "http://vault.vault.svc.cluster.local:8200"
      retry {
        num_retries = 5
      }
    }
    
    auto_auth {
      method "kubernetes" {
        mount_path = "auth/kubernetes"
        config = {
          role = "smc-trading-role"
        }
      }
      
      sink "file" {
        config = {
          path = "/vault/secrets/token"
        }
      }
    }
    
    template {
      source = "/vault/templates/database.tpl"
      destination = "/vault/secrets/database.env"
      perms = 0644
    }
    
    template {
      source = "/vault/templates/exchanges.tpl"
      destination = "/vault/secrets/exchanges.env"
      perms = 0644
    }
    
    template {
      source = "/vault/templates/jwt.tpl"
      destination = "/vault/secrets/jwt.env"
      perms = 0644
    }
  
  database.tpl: |
    {{- with secret "secret/data/smc-trading/database" -}}
    DATABASE_URL={{ .Data.data.url }}
    DATABASE_PASSWORD={{ .Data.data.password }}
    {{- end }}
  
  exchanges.tpl: |
    {{- with secret "secret/data/smc-trading/exchanges/binance" -}}
    BINANCE_API_KEY={{ .Data.data.api_key }}
    BINANCE_API_SECRET={{ .Data.data.api_secret }}
    {{- end }}
    {{- with secret "secret/data/smc-trading/exchanges/bybit" -}}
    BYBIT_API_KEY={{ .Data.data.api_key }}
    BYBIT_API_SECRET={{ .Data.data.api_secret }}
    {{- end }}
    {{- with secret "secret/data/smc-trading/exchanges/oanda" -}}
    OANDA_API_KEY={{ .Data.data.api_key }}
    OANDA_ACCOUNT_ID={{ .Data.data.account_id }}
    {{- end }}
  
  jwt.tpl: |
    {{- with secret "secret/data/smc-trading/jwt" -}}
    JWT_SECRET={{ .Data.data.secret }}
    ENCRYPTION_KEY={{ .Data.data.encryption_key }}
    {{- end }}