server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
- job_name: film-tracker-app-logs
  static_configs:
  - targets:
      - localhost
    labels:
      job: film-tracker
      __path__: /var/log/app/*.log
  pipeline_stages:
  - match:
      selector: '{job="film-tracker"}'
      stages:
      - regex:
          expression: '(?P<timestamp>\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z)\s+(?P<level>\w+)\s+(?P<message>.*)'
      - timestamp:
          source: timestamp
          format: RFC3339Nano
      - labels:
          level:

- job_name: film-tracker-system-logs
  static_configs:
  - targets:
      - localhost
    labels:
      job: system
      __path__: /var/log/host/*.log

- job_name: containers
  static_configs:
  - targets:
      - localhost
    labels:
      job: containers
      __path__: /var/lib/docker/containers/*/*.log
  pipeline_stages:
  - json:
      expressions:
        output: log
        stream: stream
        attrs:
  - json:
      expressions:
        tag:
      source: attrs
  - regex:
      expression: (?P<container_name>(?:[^|]*))\|
      source: tag
  - timestamp:
      format: RFC3339Nano
      source: time
  - labels:
      stream:
      container_name:
  - output:
      source: output