apiVersion: v1
kind: Namespace
metadata:
  name: vault
  labels:
    name: vault
    environment: production
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: vault
  namespace: vault
  labels:
    app: vault